# Path: requirements.txt
pymongo
fastapi
datetime
numpy
openai
scikit-learn
langchain
langchain_community
langchain_text_splitters
python-dotenv
black
huggingface-hub
google.generativeai
beautifulsoup4
